/* Tag Selectors */

div {
    background-color: #d4f3ef;
}

body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

/* Class Selectors */

/* ID Selectors */


/* Style Guide: Color

Primary text: #63b7af
Secondary text: #abf0e9
Background: #d4f3ef
Call to action: #ee8572

*/