/* Body, H1-6, & Links */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 2;
    font-family: 'Dancing Script', cursive; 
    margin: 50px auto 0 auto;
    
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #0000FF;
}

/* Containers */

.top-container {
    background-color: #d4f3ef;
    position: relative;
    padding-top: 100px;
}

/* Images */

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.ux-design {
    width: 30%;
    float: left;
    margin: auto 30px auto auto;
}

.ux-research {
    width: 30%;
    float: right;
    margin: auto auto auto 30px;
}

.front-end-dev {
    width: 30%;
    float: left;
    margin: auto 30px auto auto;
}

/* Text - not parent H1-6 etc. */

.uxdev {
    text-decoration: underline;
}

.subheader {
    font-weight: normal;
    font-size: 1.5em;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.profile {
    width: 75%;
    margin: 100px auto 100px auto;
    line-height: 2;
}